/* Product Swatch */

.product-swatch {
  margin-top: 0;
}

.product-swatch ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 0;
}

.product-swatch li {
  /* padding: .5rem; */
}

.product-swatch a {
  display: inline-block;
  max-width: 100%;
  cursor: pointer;
  transition-duration: var(--duration-short);
  transition-timing-function: ease;
  border-radius: 50%;
}

.product-swatch a.active {
  border: 0.1rem solid rgb(var(--color-foreground));
}

.product-swatch .product-swatch__swatch {
  display: block;
  width: 2.8rem;
  margin: .3rem;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-origin: border-box;
  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: 50%;
}

/* Mobile */
@media (max-width: 767px) {
  .product-swatch ul {

  }
}