/* component-offer.css */

.component-offer {
  display: flex;
  align-items: center;
}

.component-offer > p {
  color: #000000d4;
  margin: 0;
}

.component-offer .component__timer {
  text-decoration: unset;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}